.game {
  background-color: rgba(0, 0, 0, 0.15);
  color: #292f3f;
  text-align: center;
  padding-top: 82px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }
  &__club {
    display: flex;
    align-items: center;
  }
  .result__title {
    margin-bottom: 0;
    margin-left: 12px;
  }
}

.game__result {
  font-size: 60px;
  color: $green;
  margin: 0 92px;
  &-detail {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #2c2c2c;
  }
}

.game__club-img {
  width: 127px;
  height: 127px;
  img {
    height: 100%;
    display: block;
    object-fit: contain;
    width: 100%;
  }
}

.game__club-name {
  font-size: 48px;
  max-width: 280px;
}
.game__club--right {
  .game__club-name {
    text-align: left;
    margin-left: 33px;
  }
}
.game__club--left {
  .game__club-name {
    text-align: end;
    margin-right: 50px;
  }
}

.game__info {
  font-family: 'Inter', sans-serif;
  color: #000;
  line-height: 22px;
  font-size: 14px;
  padding-bottom: 55px;
}
.game__info-title {
  font-weight: 700;
}

.game__info-gols,
.game__info-arbiter {
  font-weight: 400;
}

// tabs

.game-tabs__tab {
  font-size: 21px;
  text-transform: uppercase;
  color: #2c2c2c;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.game-tabs__tab + .game-tabs__tab {
  margin-left: 50px;
}
.game-tabs__tab.active {
  color: $red;
  border-bottom: 3px solid $red;
}
.game-tabs {
  padding-bottom: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 58px;
}

/// tabs - content

.game__tab {
  display: none;
  background-color: #fff;
  margin-bottom: 120px;
  &.tab-active {
    display: block;
  }
}

.game__wrapper {
  .typo__row {
    margin: 0 auto;
    max-width: 860px;
  }
  .typo__clanek-text {
    padding-left: 0;
  }
  .typo__sprava,
  .typo-clanek,
  .typo__tabl,
  .odrazky {
    margin-left: 0;
  }
}

/// sestavy
.sestavy {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  &__club {
    max-width: 460px;
    width: 100%;
  }
}
.sestavy__club + .sestavy__club {
  margin-left: 20px;
}

.sestavy__top {
  text-transform: uppercase;
  display: flex;
  border-bottom: 1px solid #e7edf5;
  padding-bottom: 18px;

  &-title {
    font-size: 21px;
    line-height: 31px;
    color: $red;
  }
  &-subtitle {
    font-size: 18px;
    color: #94a2b0;
    display: block;
  }
  &-logo {
    width: 61px;
    height: 61px;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.player {
  display: flex;
  border-bottom: 1px solid #e7edf5;
  padding: 13px 20px 14px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  &__position {
    color: #000;

    position: relative;
    padding-right: 38px;
    margin-right: 20px;
  }
}

.player.player--out {
  .player__position::before {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    background-image: url('../images/svg/arrow-red.svg');
    @include img;
    height: 15px;
    width: 10px;
  }
}

.player.player--in {
  .player__position::before {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    background-image: url('../images/svg/arrow-green.svg');
    @include img;
    height: 15px;
    width: 10px;
  }
}
.player__number {
  color: $red;
  width: 30px;
  margin-right: 25px;
}
.player__name-link {
  font-weight: 400;
  color: #000;
  font-family: 'Inter', sans-serif;
}
.player__name {
  display: flex;
  width: 100%;
  max-width: 245px;
  justify-content: space-between;
}
.card-yellow {
  width: 18px;
  height: 22px;
  background-color: $yellow;
  display: block;
  border-radius: 4px;
}
.player__goals {
  display: flex;
}
.player-goal {
  background-image: url('../images/svg/ball.svg');
  width: 19px;
  height: 19px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.sestavy__nahradnici {
  color: #94a2b0;
  font-size: 18px;
  line-height: 14px;
  margin-top: 65px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

// timeline
.timeline__row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.timeline__line {
  position: relative;
  padding-bottom: 42px;
}
.timeline__col {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.timeline__number {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  min-width: 32px;
  z-index: 15;
  transform: translateX(50%);
}

.timeline {
  position: relative;
  padding: 2px;
  margin-right: 2px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding-bottom: 40px;
  &::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    left: -1px;
    margin: 0 auto;
    height: 100%;
    width: 1px;
    background-color: #d6dfe8;
  }
}
.timeline__line--finish {
  padding-bottom: 62px;
}

.round-finish {
  display: block;
  text-align: center;
  width: 112px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
}
.round-polocas {
  border-radius: 4px;
  padding: 5px 10px;
}
.round-number,
.round-finish,
.round-polocas {
  color: #2c2c2c;
  text-transform: uppercase;
  background-color: #d6dfe8;
  font-size: 14px;
}
.round-number {
  padding: 7px 10px;
  border-radius: 16px;
}
.col-auto {
  display: flex;
  align-items: center;
  width: auto;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  top: 2px;
  flex-direction: column;
  .card-yellow {
    top: -3px;
    position: relative;
  }
}
.timeline__icon--left {
  padding-left: 41px;
  padding-right: 13px;
}
.timeline__icon {
  position: relative;
  top: 3px;
}
.icon-goal {
  background-image: url('../images/svg/ball.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 19px;
  height: 19px;
  display: block;
}

.timeline__player,
.timeline__message {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #000;
  padding-top: 2px;
}
.justify-content-end {
  justify-content: flex-end;
  .icon {
    margin-right: 4px;
  }
}
.justify-content-start {
  justify-content: flex-start;
  .icon {
    margin-left: 5px;
    position: relative;
  }
  .icon-arrow-out {
    top: 4px;
  }
  .icon-arrow-in {
    top: 3px;
  }
}

.text-right {
  text-align: right;
}

.timeline__icon--right {
  padding-right: 42px;
  padding-left: 17px;
  position: relative;
  bottom: -4px;
}
.timeline__message {
  max-width: 291px;
}
.timeline__line--refresh.timeline__line {
  padding-bottom: 28px;
}
.timeline__line--triangle {
  padding-bottom: 63px;
  line-height: 19px;
}
.timeline__line--polocas {
  padding-bottom: 59px;
}
.timeline__icon--goal {
  top: 2px;
}

/// porovnani
.porovnani__inner {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding-top: 9px;
  margin-bottom: 78px;
}
.porovnani__infoline {
  margin-bottom: 32px;
}
.porovnani__infoline-header {
  color: #94a2b0;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin: 0 10px 18px 10px;
}
.porovnani__line {
  margin-left: 10px;
  background-color: #e7edf5;
  border-radius: 17px;
  max-width: 940px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.porovnani__number {
  position: absolute;
  color: $red;
  font-size: 36px;
  top: -9px;
  &--right {
    right: 0;
  }
  &--left {
    left: 0;
  }
}
.porovnani__value--left {
  background-color: #94a2b0;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  margin-left: auto;
}
.porovnani__value--right {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: $red;
}
.porovnani__value {
  display: block;
  height: 100%;
}
.porovnani__line-box {
  width: 50%;
  height: 8px;
}

@media (max-width: 1200px) {
}

/// responsive
@media (max-width: 1200px) {
  .game__club-name {
    font-size: 40px;
    max-width: 235px;
  }
  .game__club-img {
    width: 110px;
    height: 110px;
  }
  .game__result {
    margin: 0 80px;
  }
}
@media (max-width: 1040px) {
  .game__club--left .game__club-name {
    margin-right: 20px;
  }
  .game__result {
    margin: 0 70px;
  }
  .game__club--right .game__club-name {
    margin-left: 20px;
  }
  .game__club-name {
    font-size: 34px;
    max-width: 205px;
  }
}
@media (max-width: 940px) {
  .sestavy {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .sestavy__club {
    margin-bottom: 40px;
  }
  .sestavy__club + .sestavy__club {
    margin-left: 0;
  }
}

@media (max-width: 920px) {
  .game__tab {
    margin-bottom: 70px;
  }
  .game__club {
    flex-direction: column;
  }
  .game__club--left {
    flex-direction: column-reverse;
  }
  .game__club--right .game__club-name {
    margin-left: 0;
    text-align: center;
  }
  .game__club--left .game__club-name {
    margin-right: 0;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .timeline__message {
    max-width: 200px;
  }
}
@media (max-width: 660px) {
  .game__tab {
    margin-bottom: 10px;
  }
  .game__result {
    margin: 0 35px;
  }
  .game__club-name {
    font-size: 30px;
    max-width: 180px;
  }
}
@media (max-width: 600px) {
}

@media (max-width: 540px) {
  .game {
    padding-top: 55px;
  }
  .game__club-img {
    width: 70px;
    height: 70px;
  }
  .game__club-name {
    font-size: 24px;
    max-width: 150px;
  }
  .game-tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .game-tabs__tab {
    width: 50%;
    border: none;
  }
  .game-tabs__tab + .game-tabs__tab {
    margin-left: 0;
  }
  .game-tabs__tab.active {
    border-bottom: none;
  }
}

@media (max-width: 520px) {
  .player {
    padding-left: 0;
    padding-right: 5px;
  }
}

@media (max-width: 480px) {
  .porovnani__number {
    font-size: 28px;
    top: 3px;
  }
  .game__club-name {
    font-size: 21px;
    max-width: 130px;
  }
  .game__result {
    font-size: 35px;
    margin: 0 10px;
  }
  .timeline__icon--right {
    padding-right: 25px;
  }
  .timeline__icon--left {
    padding-left: 30px;
  }
}

@media (max-width: 460px) {
  .player__name {
    max-width: 170px;
  }
  .player__number {
    margin-right: 5px;
  }
  .player__position {
    padding-right: 25px;
  }
}

@media (max-width: 419px) {
  .timeline__player,
  .timeline__message {
    font-size: 10px;
  }
  .timeline__icon--left {
    padding-right: 5px;
  }
  .timeline__icon--right {
    padding-left: 5px;
  }
  .icon-refresh {
    width: 15px;
    height: 13px;
  }
  .icon-arrow-out,
  .icon-arrow-in {
    height: 10px;
    width: 10px;
    background-size: contain;
  }
}
