html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: yellow;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 34px;
}
.typo__text {
  font-weight: 700;
}
.text {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Rajdhani', sans-serif;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-style: normal;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1450px;
  width: 100%;
}
.decoration {
  height: 5px;
  width: 100%;
  background-image: repeating-linear-gradient(
    to right,
    white 0px,
    white 25px,
    darkblue 25px,
    darkblue 50px,
    white 50px,
    white 75px,
    red 75px,
    red 100px
  );
}
.input {
  width: 100%;
  border: 1px solid $red;
  padding: 10px 10px 10px 12px;
  border-radius: 2px;
  &:focus {
    border: 1px solid $red;
    outline: none;
  }
}
.form {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(203, 212, 217, 0.5);
  display: flex;
}
.form-gallery.form {
  display: flex;
  justify-content: space-between;
  .select__redirect {
    margin-right: 0;
  }
}
.btn {
  width: 72px;
  background-color: #fff;
  color: $red;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 50px;
  color: $red;
  margin-bottom: 60px;
  margin-top: 70px;
}
.title {
  color: $gray;
  font-size: 30px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 5px solid $red;
  margin-bottom: 30px;
}
.text-right {
  text-align: right;
}

.select__redirect.select-liga {
  max-width: 380px;
}

.select__redirect,
.form-control.jq-selectbox {
  display: block;
  margin-bottom: 50px;
  background-color: $red;
  max-width: 180px;
  width: 100%;
  color: #fff;
  margin-right: 50px;
}
.form-control.jq-selectbox {
  max-width: 100%;
}
.jq-selectbox__select-text {
  width: 100% !important;
  font-size: 18px;
  padding: 10px 15px;
  position: relative;
  height: 40px;
  &::before {
    content: '';
    position: absolute;
    right: 15px;
    width: 10px;
    height: 15px;
    background-image: url('../images/svg/arrow-filtr.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 10px;
  }
}
.jq-selectbox__dropdown {
  background-color: #fff;
  color: $red;
  text-align: center;
  width: 100% !important;
  left: 0;
  top: 40px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  ul {
    z-index: 333;
    background: #fff;
  }
}
.jq-select-multiple li,
.jq-selectbox li {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: left;
  padding-left: 25px !important;
  &::before {
    display: none;
  }
  &:hover {
    background-color: $red;
    color: #fff;
  }
}
.partner {
  height: 160px;
  margin-bottom: 20px;
  display: block;
  &__inner {
    position: relative;
    &-title {
      text-transform: uppercase;
      font-size: 18px;
      position: absolute;
      left: 30px;
      top: 27px;
      color: #fff;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/partners/travelstar.png');
      background-repeat: no-repeat;
      width: 314px;
      height: 94px;
      background-size: contain;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 25px;
    }
  }

  img {
    border-radius: 10px;
    height: 160px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.icon-refresh {
  background-image: url('../images/svg/refresh.svg');
  width: 19px;
  height: 16px;
  @include img;
  display: block;
}
.icon-arrow-out {
  background-image: url('../images/svg/arrow-red.svg');
  display: inline-block;
  @include img;
  height: 15px;
  width: 10px;
}
.icon-arrow-in {
  @include img;
  height: 15px;
  width: 10px;
  background-image: url('../images/svg/arrow-green.svg');
  display: inline-block;
}
.icon-triangle {
  @include img;
  background-image: url('../images/svg/triangle.svg');
  width: 19px;
  height: 19px;
  display: block;
}

.vion {
  color: $red;
}
.strankovani {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .nextPages {
    font-size: 22px;
    color: $red;
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  a {
    width: 38px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.6s;
    margin-right: 6px;
    margin-bottom: 6px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &:hover {
      background-color: $gray;
      color: #fff;
    }
  }
}

.strankovaniVyrazne {
  background-color: $red !important;
  color: #fff !important;
  &:hover {
    background-color: $red;
    color: #fff;
  }
}
.btn.btn-link {
  background-color: #eb1a13;
  color: #fff;
  width: 120px;
  margin-left: auto;
}

table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 10px;
  }
}

.nice.table {
  th,
  td {
    text-align: center !important;
  }
}

.tabl__stream {
}
.stream {
  background-color: #ffffff;
  padding: 0 30px;
  max-height: 317px;
  overflow-y: scroll;
  h4 {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
  }
  span {
    display: block;
    color: $red;
  }
  p {
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
  }
}
.table-responsive{
  overflow-x: auto;
}