.match__inner {
  display: flex;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 3;
}

/// result
.result {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 50%;
  width: 100%;
  background-color: $gray;
  text-align: center;
  padding: 28px 0 40px;

  &__title {
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 20px;
    span {
      font-weight: 400;
      display: block;
    }
  }
  &__inner {
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
    padding: 0 80px;
  }
}
.team__logo-img {
  object-fit: contain;
}

.results {
  max-width: 150px;
  width: 100%;
  font-size: 48px;
  line-height: 0.71;
  margin-top: 13px;

  &__detail {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 16px;
  }
}
.team {
  display: flex;
  width: 100%;
  &__name {
    font-size: 18px;
    line-height: 1.22;
    margin-top: 21px;
  }
}
.team--right {
  .team__logo {
    margin-right: 13px;
  }
  .team__name {
    text-align: left;
  }
}
.team--left {
  justify-content: space-around;

  .team__name {
    text-align: right;
  }
}

.results__link {
  display: flex;
  justify-content: center;
  a + a {
    margin-left: 15px;
  }
}

/// calendar
.calendar {
  background-color: $red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 50%;
  width: 100%;
  padding: 32px 0 40px;
  display: flex;
  justify-content: center;
}

.calendar-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180px;
  width: 100%;
  margin: 0 9px;
  &__title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 7px;
  }
  &__time {
    font-size: 48px;
    margin-bottom: 32px;
  }
  &__link {
    display: flex;
    display: flex;
    justify-content: space-between;
    max-width: 162px;
    width: 100%;
  }
}
.calendar-team {
  display: flex;

  width: 100%;
  &__name {
    font-size: 18px;
    line-height: 1.22;
  }
}
.calendar-team--right {
  margin-top: 65px;
  .calendar-team__name {
    margin-left: 24px;
    margin-top: 11px;
  }
}
.calendar-team--left {
  margin-top: 60px;
  justify-content: flex-end;
  text-align: end;
  .calendar-team__name {
    margin-top: 22px;
    margin-right: 8px;
  }
}

/// timer
.timer {
  display: flex;
  margin-bottom: 10px;
  max-width: 180px;
}
.timer__item {
  text-align: center;
  margin-right: 13px;
  padding-right: 13px;
  position: relative;
  &:after {
    content: ':';
    position: absolute;
    right: 0;
    top: 0;
    width: 2;
    height: 1px;
  }
}
.timer__label {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

.timer__value {
  line-height: 21px;
  font-size: 24.6px;
  display: block;
  font-weight: 400;
}
#timer-seconds::after {
  display: none;
}

@media (max-width: 1500px) {
  .result__inner {
    padding: 0 15px;
  }
  .team--left {
    justify-content: flex-end;
    .team__logo {
      margin-left: 20px;
    }
  }
}
@media (max-width: 1300px) {
  .calendar-team--right {
    padding-right: 15px;
  }
  .calendar-team--left {
    padding-left: 15px;
  }
  .calendar-date {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .calendar-team--right,
  .team--right {
    flex-direction: column;
    align-items: center;
  }
  .calendar-team--left,
  .team--left {
    flex-direction: column-reverse;
    align-items: center;
  }
  .calendar-team--right .calendar-team__name {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .calendar-team--right {
    padding-right: 0;
  }
  .calendar-team--left {
    padding-left: 0;
  }
  .calendar-team--left .calendar-team__name {
    margin-right: 0;
    text-align: center;
    margin-top: 0;
  }
  .team--right .team__logo {
    margin-right: 0;
  }
  .team--right .team__name {
    text-align: center;
  }
  .team__name {
    margin-top: 5px;
  }
  .team {
    margin-bottom: 15px;
  }
  .result__inner {
    padding: 0;
  }
  .result,
  .calendar {
    padding-bottom: 20px;
  }
  .team--left .team__logo {
    margin-left: 0;
  }
  .team--left .team__name {
    text-align: center;
    margin-top: 13px;
  }
  .calendar-date__title {
    margin-bottom: 15px;
  }
  .calendar-date__time {
    margin-bottom: 85px;
  }
}

@media (max-width: 870px) {
  .match__inner {
    flex-wrap: wrap;
    top: 0;
    margin-bottom: 20px;
  }
  .result,
  .calendar {
    max-width: 100%;
  }
  .result {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .calendar {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
  .calendar-date__time {
    margin-bottom: 50px;
  }
  .result__inner {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .match__inner {
    margin-bottom: 10px;
  }
  .match .container {
    padding: 0;
  }
  .result,
  .calendar {
    border-radius: 0;
  }
  .calendar-team--left {
    margin-top: 37px;
  }
  .calendar-team--right {
    margin-top: 50px;
  }
  .team--left .team__name {
    margin-top: 17px;
  }
}

@media (max-width: 480px) {
  .calendar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .calendar-date {
    max-width: 160px;
  }
  .team .team--left {
    margin-top: 8px;
  }
  .team__name,
  .calendar-team__name {
    font-size: 16px;
  }
  .calendar-team--left {
    margin-top: 45px;
  }
}
