.statistiky {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
  th,
  td {
    border-bottom: 1px solid #e7eaef;
    padding-left: 35px;
  }
  th a {
    text-decoration: underline;
    color: #94a2b0;
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}
