.typo {
  max-width: 100%;
  margin-bottom: 100px;
  &__row {
    max-width: 911px;
    margin-right: 48px;
  }
  &__inner {
    display: flex;
  }
}

.typo__clanek {
  width: 100%;
  display: block;
  height: 521px;
  position: relative;
  margin-bottom: 35px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  &::after {
    content: '';
    display: block;
    opacity: 0.75;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &-box {
    position: absolute;
    bottom: 43px;
    left: 47px;
    z-index: 5;
    max-width: 680px;
    .clanek__info {
      justify-content: end;
    }
  }
}
.typo__title {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 48px;
  line-height: 1.1;
  padding-top: 4px;
}
.typo__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 34px;
}

.typo__clanek-text {
  padding-left: 47px;
  color: #000;
  font-weight: 400;
  padding-right: 13px;
  margin-bottom: 30px;
}

.typo__sprava {
  margin-left: 40px;
  border-left: 10px solid $red;
  max-width: 686px;
  padding: 27px 10px 32px 40px;
  margin-bottom: 40px;
  &-title {
    font-size: 21px;
    text-transform: uppercase;
    line-height: 34px;
    color: $red;
    margin-bottom: 13px;
  }
  &-text {
    font-size: 24px;
    line-height: 32px;
    color: #000;
    font-weight: 400;
  }
}

.typo-clanek {
  margin-left: 40px;
  &__item {
    display: flex;
    margin-bottom: 40px;
    &:nth-child(even) {
      .typo-clanek__text {
        margin-right: 25px;
        padding-right: 15px;
      }
    }
    &:nth-child(odd) {
      .typo-clanek__text {
        margin-left: 38px;
        padding-right: 15px;
      }
    }
  }
  &__text {
    max-width: 640px;
  }
  &__img {
    max-width: 190px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

/// typo tabl
.typo__tabl {
  margin-left: 45px;
  margin-bottom: 31px;
}
.typo__tabl-title {
  color: $red;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
table#typo-table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    border-bottom: 1px solid #e7edf5;
    padding: 13px 0 16px 0px;
  }
  th {
    color: #94a2b0;
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
  }
  td {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
  .tym {
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
    padding-left: 20px;
    padding-right: 60px;
  }
  td.email a {
    color: $red;
    text-decoration: underline;
  }
  .datum {
    width: 128px;
    padding-right: 10px;
  }
  .cas {
    width: 100px;
    padding-right: 10px;
  }
  .zeme {
    width: 110px;
    padding-right: 10px;
  }
  .jmeno {
    width: 160px;
    padding-right: 10px;
  }
}

.odrazky {
  margin-left: 45px;
  &__img {
    max-width: 860px;
    height: 471px;
    margin-bottom: 29px;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: $red;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 9px;
  }
  &__list {
    margin-bottom: 30px;
    li {
      &::before {
        content: '';
        position: absolute;
        background-image: url('../images/svg/nav-right.svg');
        left: 0;
        width: 15px;
        height: 10px;
        background-repeat: no-repeat;
        top: 7px;
      }
      padding-left: 31px;
      position: relative;
      font-size: 14px;
      line-height: 22px;
      font-family: 'Inter', sans-serif;
      color: #000;
      margin-bottom: 8px;
      font-weight: 400;
    }
  }
  &__clanek {
    display: flex;
    justify-content: space-between;
    margin-right: 13px;
    margin-bottom: 32px;
    &:nth-child(odd) {
      .text-inter {
        margin-top: 9px;
      }
    }
    .text-inter {
      max-width: 618px;
    }
  }
  &__item {
    background-color: #cbd4d9;
    min-width: 190px;
    height: 200px;
    text-align: center;
    &-name {
      color: $red;
      font-size: 18px;
      line-height: 29px;
    }
    &-position {
      font-size: 14px;
      color: #000;
      line-height: 20px;
    }
  }
  &__item-img {
    max-width: 88px;
    height: 88px;
    margin: 26px auto 14px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
      object-fit: cover;
    }
  }
}

/// aside
.typo-aside {
  width: 100%;
  &__title {
    color: $red;
    font-size: 21px;
    text-transform: uppercase;
  }
  &__clanky {
    .typo-aside__title {
      margin-bottom: 15px;
    }
  }
  &__clanek {
    display: flex;
    img {
      max-width: 190px;
      width: 100%;
      height: 130px;
      display: block;
      object-fit: cover;
    }
    &-info {
      margin-left: 24px;
      padding-top: 6px;
    }
    &-datum {
      font-family: 'Inter', sans-serif;
      color: #677177;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 6px;
      font-weight: 400;
    }
    &-nazev {
      color: #2f2929;
      font-size: 24px;
      line-height: 26px;
      max-width: 225px;
    }
  }
  .btn-clanky.btn {
    margin-top: 20px;
    background-color: $red;
    color: #fff;
    width: 140px;
  }
}
.typo-aside__clanek + .typo-aside__clanek {
  margin-top: 30px;
}
.typo-aside__submenu {
  margin-top: 50px;
  margin-bottom: 62px;
}
.typo-aside__submenu-list {
  margin-top: 14px;
}
.typo-aside__submenu-link {
  display: block;
  padding: 12px 0 13px 64px;
  position: relative;
  font-size: 21px;
  color: #000;
  border-top: 1px solid rgba(203, 212, 217, 0.5);
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/svg/nav-right.svg');
    left: 24px;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    top: 18px;
    fill: red;
  }
  &.active {
    color: $red;
    &::before {
      background-image: url('../images/svg/nav-right-active.svg');
    }
  }
}
.typo-aside__zapas {
  margin-top: 14px;
  padding-top: 42px;
  padding-bottom: 41px;
  color: #2c2c2c;
  border-top: 1px solid rgba(203, 212, 217, 0.5);
  border-bottom: 1px solid rgba(203, 212, 217, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  .timer {
    margin-bottom: 42px;
  }
  .btn {
    background-color: $red;
    color: #fff;
  }
  img {
    margin-top: 45px;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
.typo-aside__result {
  border-bottom: 1px solid rgba(203, 212, 217, 0.5);
  color: #2c2c2c;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 45px;
  .btn {
    color: #fff;
    background-color: $red;
  }
  .result__inner {
    margin-bottom: 12px;
    padding: 0 68px 0 85px;
  }
  .results {
    margin: 13px auto 0;
    padding-left: 10px;
  }
  .results__link {
    margin-left: 14px;
  }
  .result__title {
    padding-left: 11px;
  }
}
/// typo__gallery
.typo__gallery {
  margin-top: 50px;
  &-title {
    font-size: 21px;
    color: $red;
    margin-bottom: 27px;
    position: relative;
    padding-left: 41px;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/svg/layout-module.svg');
      left: 2px;
      top: 0;
      width: 24px;
      height: 22px;
    }
  }
}
.typo__album-foto {
  max-width: 100%;
  height: 489px;
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}
.typo__album-title {
  background-color: rgba(#eb1a13, 0.7);
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  padding: 14px 0 11px 21px;
  width: 100%;
}
.typo__albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3px;
  max-width: 860px;
  div {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// media

@media (max-width: 1342px) {
  .typo__row {
    margin-right: 35px;
  }

  .typo-aside__clanek {
    display: block;
  }
  .typo-aside__clanek-info {
    text-align: center;
  }
  .btn-clanky.btn,
  .typo-aside__clanek-nazev,
  .typo-aside__clanek img {
    margin-left: auto;
    margin-right: auto;
  }

  .typo__clanek-text {
    padding-left: 20px;
  }
  .typo__sprava,
  .typo-clanek,
  .odrazky,
  .typo__tabl {
    margin-left: 20px;
  }
  .typo-clanek__item:nth-child(odd) .typo-clanek__text {
    margin-left: 25px;
  }
  .typo-clanek__item:nth-child(even) .typo-clanek__text {
    margin-right: 10px;
  }
  .typo-clanek__img img {
    width: 190px;
  }
  table#typo-table .tym {
    padding-right: 35px;
  }
  .typo-aside__result .result__inner {
    padding: 0 20px;
  }
  .odrazky__clanek {
    margin-right: 0;
  }
  .odrazky__clanek {
    &:nth-child(odd) {
      .odrazky__item {
        margin-left: 20px;
      }
    }
    &:nth-child(even) {
      .odrazky__item {
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .typo-aside__zapasy {
    display: none;
  }
  .typo-aside__submenu-link {
    padding-left: 40px;
    &::before {
      left: 5px;
    }
  }
}
@media (max-width: 980px) {
  .typo-aside {
    display: none;
  }
  .typo__row {
    margin-right: 0;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .typo__clanek-text {
    padding-left: 0;
  }
  .typo__sprava,
  .typo-clanek,
  .odrazky,
  .typo__tabl,
  .typo__albums {
    margin-left: 0;
  }
}

@media (max-width: 745px) {
  .typo-clanek__item:nth-child(even) .typo-clanek__text {
    margin-right: 0;
  }
  .typo-clanek__item:nth-child(odd) .typo-clanek__text {
    padding-right: 0;
  }
  .typo__clanek {
    height: 450px;
  }
  .typo__title {
    font-size: 36px;
  }
  .typo__clanek-box {
    left: 30px;
    bottom: 30px;
  }
  table#typo-table .tym {
    width: 50px;
    padding-right: 25px;
    padding-left: 5px;
  }
  table#typo-table .zeme {
    width: 90px;
  }
  .typo {
    margin-bottom: 50px;
  }
  .typo__albums div {
    margin-bottom: 20px;
  }
  .odrazky__item {
    min-width: 160px;
    height: 180px;
  }
  .odrazky__item-img {
    margin-top: 15px;
  }
}

@media (max-width: 680px) {
  .odrazky__img {
    height: 350px;
  }
  .typo__sprava {
    padding-left: 30px;
  }
  .typo-clanek__img {
    width: 170px;
    height: 170px;
    img {
      width: 170px;
    }
  }
  .odrazky__item {
    min-width: 145px;
  }
}

@media (max-width: 600px) {
  .typo__title {
    font-size: 30px;
  }
  .typo__clanek-box {
    left: 25px;
    bottom: 25px;
  }
  .typo__clanek {
    height: 400px;
  }
  .typo__album-foto {
    height: 370px;
  }
  .typo__albums div {
    margin: 0 7px 20px;
  }
  .typo__albums {
    justify-content: start;
  }
  .typo__tabl {
    overflow: auto;
  }
}

@media (max-width: 540px) {
  .typo__text {
    font-size: 22px;
  }
  .typo__clanek {
    height: 380px;
    margin-bottom: 25px;
  }
  .typo-clanek__item {
    flex-direction: column;
  }
  .typo-clanek__img {
    margin: 0 auto;
  }
  .typo-clanek__item:nth-child(odd) .typo-clanek__text {
    margin: 0 50px;
    text-align: center;
  }
  .typo-clanek__item:nth-child(even) .typo-clanek__text {
    padding-right: 0;
    margin: 0 50px;
    text-align: center;
  }
  .typo-clanek__item:nth-child(even) {
    flex-direction: column-reverse;
  }

  .odrazky__clanek {
    flex-direction: column;
    align-items: center;
  }
  .odrazky__clanek:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .odrazky__clanek:nth-child(odd) .odrazky__item {
    margin-left: 0;
  }
  .odrazky__clanek:nth-child(even) .odrazky__item {
    margin-right: 0;
  }
  .odrazky__item {
    max-width: 145px;
  }
  .odrazky__clanek .text-inter {
    margin: 0 30px;
  }
  table#typo-table .datum,
  table#typo-table .cas {
    padding-right: 15px;
  }
}

@media (max-width: 480px) {
  .typo__clanek {
    height: 330px;
  }
  .typo__album-foto,
  .odrazky__img {
    height: 280px;
  }
  .typo-clanek__item:nth-child(odd) .typo-clanek__text,
  .typo-clanek__item:nth-child(even) .typo-clanek__text {
    margin: 0;
  }

  .typo__sprava {
    padding: 20px 0 20px 20px;
  }
  .odrazky__clanek .text-inter {
    margin: 0;
    text-align: center;
  }
  table#typo-table td {
    font-size: 12px;
  }
  table#typo-table th {
    font-size: 16px;
  }
  table#typo-table .tym {
    padding-right: 15px;
    padding-left: 0;
  }
}
